html{
    height: 100%;
}

body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header img{
    float: left;
}

.navbar{
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a{
    text-decoration: none;
    color: red;

}

main img{
    height: 250px;
    width: 480px;
    margin-left: auto;
}