body{
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    font-weight: bold;
}

.navbar{
    position: absolute;
    right: 0;
    top: 0;
}