body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

main {
    width: 90%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.navbar{
    font-size: small;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 150px;
}

.navbar a{
    text-decoration: none;
    color: grey;
    margin-left: 20px;
    margin-right: 20px;

}

header h1{
    font-weight: bold;
    font-size: xx-large;
}

header p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: grey;
    margin: 1rem 0 1.5rem 0;
}

header a {
    text-transform: uppercase;
    color: white;
    background-color: red;
    font-size: small;
}

.hero{
    background-image: url(../images/image-web-3-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    block-size: 300px;
}

.new{
    background-color: black;
    padding: 1.5rem;
    margin: 4rem 0;
}

.new h2{
    color:orange;
    font-weight: bold;
    font-size: large;
}

.new h3{
    color: white;
    font-weight: bold;
}

.new p{
    color: grey;
    font-size: 15px;
}

.items{
    display: grid;
}

.items h3{
    color: grey;
    font-weight: 400;
    font-size: medium;
}

.items a{
    color: black;
    font-weight: bold;
}

.items p{
    color:grey;
    font-weight: 400;
}


@media (min-width: 768px){
    main{
        display: grid;
        grid-template-areas: 
        "nav nav" 
        "header new" 
        "items items";
        column-gap: 1.5rem;
        row-gap: 3rem;
    }
}

nav {
    grid-area: nav;
    flex-direction: row;
    justify-content: space-between;
  }

header {
    grid-area: header;
    padding: 0;
  }

.new {
    grid-area: new;
    margin: 0;
  }

.items {
    grid-area: items;
  }

  @media (min-width: 992px) {
    .items {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  nav {
    justify-content: space-between;
    vertical-align: middle;
}
